.hourly-forecast {
  margin-block: 30px;
  background-color: hsl(243, 27%, 20%);
  padding: 25px 15px;
  border-radius: 20px;
}

.forecast-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.forecast-header .section-title {
  font-size: 20px;
}

.date-selector {
  display: none;
}

.date-selector-icon {
  background-color: hsl(243, 23%, 30%);
  border: none;
  color: #fff;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}

.hourly-item {
  background-color: hsl(243, 23%, 24%);
  margin-top: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 15px 3px 10px;
  border: 1px solid hsl(243, 23%, 30%);
}

.hour-details {
  display: flex;
  align-items: center;
}

.hour-icon {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.hour-temp {
  font-size: 14px;
}

.date-menu {
  background-color: hsl(243, 27%, 20%);
  position: absolute;
  z-index:1000;
  display: flex;
  flex-direction: column;
  right: -100%;
  top: 50px;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid hsl(243, 23%, 30%);
  transition: right 0.3s ease;
}

.date-option {
  background-color: transparent;
  border: none;
  color: #fff;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  text-align: left;
  width: 150px;
}

.date-option.active {
  background-color: hsl(243, 23%, 24%);
}

.date-selector:checked ~ .date-menu {
  right: 0;
}