.hourly-forecast {
  margin-block: 30px;
  background-color: hsl(243, 27%, 20%);
  padding: 25px 15px;
  border-radius: 20px;
}

.forecast-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forecast-header .section-title {
  font-size: 20px;
}

.date-selector {
  background-color: hsl(243, 23%, 30%);
  border: none;
  color: #fff;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}

.hourly-item {
  background-color: hsl(243, 23%, 24%);
  margin-top: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 15px 3px 10px;
  border: 1px solid hsl(243, 23%, 30%);
}

.hour-details {
  display: flex;
  align-items: center;
}

.hour-icon {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}
