@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

.header-top {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.logo-container {
  width: 130px;
}

.units-toggle {
  display: none;
}

.units-toggle-icon {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: hsl(243, 27%, 20%);
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
}

.header-title {
  font-size: 55px;
  font-weight: 600;
  text-align: center;
  font-family: "Bricolage Grotesque", sans-serif;
  margin-block: 40px;
}

.search-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.search-input {
  background-color: hsl(243, 27%, 20%);
  border: none;
  padding: 15px 50px;
  border-radius: 8px;
  position: relative;
  font-size: 18px;
  color: #fff;
}

.search-input::placeholder {
  color: hsl(250, 6%, 84%);
}

.search-icon {
  position: absolute;
  left: 15px; 
  top: 16px; 
}

.search-button {
  background-color: hsl(233, 67%, 56%);
  border: none;
  color: #fff;
  padding: 15px 0;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}

.units-menu {
  background-color: hsl(243, 27%, 20%);
  border-radius: 8px;
  position: absolute;
  z-index: 1000;
  right: -100%;
  top: 50px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid hsl(243, 23%, 30%);
  transition: right 0.3s ease;
}

.units-switch {
  background-color: transparent;
  border: none;
  color: #fff;
  text-align: left;
  width: 170px;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
}

.unit-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.unit-group.middle {
  border-top: 1px solid hsl(243, 23%, 30%);
  padding-top: 10px;
  border-bottom: 1px solid hsl(243, 23%, 30%);
  padding-bottom: 10px;
}

.unit-label {
  color: hsl(240, 6%, 70%);
  font-size: 12px;
}

.unit-option {
  text-align: left;
  background-color: transparent;
  border: none;
  color: #fff;
  width: 170px;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
}

.unit-option.active {
  background-color: hsl(243, 23%, 24%);
  background-image: url(./images/icon-checkmark.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.units-toggle:checked ~ .units-menu {
  right: 0;
}