@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(243, 96%, 9%);
  padding: 15px;
  color: #fff;
  overflow-x: hidden;
}

.drizzle {
  background: url(./images/icon-drizzle.webp) no-repeat center;
  background-size: contain;
}

.fog {
  background: url(./images/icon-fog.webp) no-repeat center;
  background-size: contain;
}

.overcast {
  background: url(./images/icon-overcast.webp) no-repeat center;
  background-size: contain;
}

.partly-cloudy {
  background: url(./images/icon-partly-cloudy.webp) no-repeat center;
  background-size: contain;
}

.rain {
  background: url(./images/icon-rain.webp) no-repeat center;
  background-size: contain;
}

.snow {
  background: url(./images/icon-snow.webp) no-repeat center;
  background-size: contain;
}

.storm {
  background: url(./images/icon-storm.webp) no-repeat center;
  background-size: contain;
}

.sunny {
  background: url(./images/icon-sunny.webp) no-repeat center;
  background-size: contain;
}